/* Left menu*/
/*
ul.left-menu
{
	dispay: none;
	list-style:none;
	margin:0; padding:0;
	margin-bottom:8px;
	position: relative; !*IE bug*!
}

ul.left-menu li
{
	padding: 10px 16px;
	background:#F5F5F5 url(images/left_menu_bg.gif) top repeat-x;
}

ul.left-menu li a
{
	font-size:100%;
	color:#BC262C;
	font-weight:bold;
	text-decoration:none;
}

ul.left-menu li a:visited
{
	color:#BC262C;
}

ul.left-menu li a:hover
{
	color:#BC262C;
}


ul.left-menu li a.selected:link,
ul.left-menu li a.selected:visited,
ul.left-menu li a.selected:active,
ul.left-menu li a.selected:hover
{
	color:#FC8D3D;
}
*/

.main-menu {
    position: relative;
    top: 5px;
    font-size: 12px;
    font-family: "SegoeUi-Light",sans-serif; }
.main-head .main-menu ul {
    padding-left: 0px; }
.main-head .main-menu ul li {
    list-style-type: none;
    display: inline-block;
    padding-right: 35px;
    border-bottom: 1px solid transparent; }
.main-head .main-menu ul li a {
    color: #455a64;
    text-decoration: none;
    -webkit-transition: all .7s ease;
    transition: all .7s ease; }
.main-head .main-menu ul li.active li, .main-head .main-menu ul li:hover li {
    border-bottom: 1px solid #3d3d3d;
    -webkit-transition: all .7s ease;
    transition: all .7s ease; }

